hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(5, 10, 12, 0.8), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#mt_captcha_json_value {
    width:78%;
}

#mt_captcha_site_private_key {
    width: 68%;
}

.required {
	color: red;
}
